<a href="https://colab.research.google.com/github/konerulokesh25/ai-ml/blob/master/11_06_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd # loading the data

In [ ]:
data = {"Student ID":[416,375,400,211,312],
"Communication":[7,6,5,8,9],
"Placed":["Yes","No","No","Yes","Yes"]}

placement_data  =  pd.DataFrame(data)
placement_data

   Student ID  Communication Placed
0         416              7    Yes
1         375              6     No
2         400              5     No
3         211              8    Yes
4         312              9    Yes

### Q1 How to write the logic you mentioned
- The communication score should be greater than 6

In [ ]:
placement_data['Communication']>6

0     True
1    False
2    False
3     True
4     True
Name: Communication, dtype: bool

In [ ]:
st=[311,6]
def placement_prediction(st):
    if st[1]>6:
        return "Yes"
    else:
        return "No"

In [ ]:
placement_prediction(st)

'No'

# Machine Learning

# Algorithm,Model
- Decision Tree Classifier
- Available DTC

# Decision tree classifier
- fit(features,target)/fit(inputs,outputs)
    - Communication
    - Placed
- features -2D array
- placed - 1d array
- predict

### Get the communication column as 2d Array

In [ ]:
placement_data['Communication'].shape

(5,)

In [ ]:
placement_data[['Communication','Placed']]

   Communication Placed
0              7    Yes
1              6     No
2              5     No
3              8    Yes
4              9    Yes

In [ ]:
placement_data[['Communication']]

   Communication
0              7
1              6
2              5
3              8
4              9

In [ ]:
import sklearn
from sklearn.tree import DecisionTreeClassifier # Decision Tree classifier
dtc = DecisionTreeClassifier()
# Training the model
dtc.fit(placement_data[['Communication']],placement_data[['Placed']])
# After you run above line you will get trained model in dtc

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
dtc.predict(placement_data[['Communication']])

array(['Yes', 'No', 'No', 'Yes', 'Yes'], dtype=object)

In [ ]:
placement_data['Placed']

0    Yes
1     No
2     No
3    Yes
4    Yes
Name: Placed, dtype: object

In [ ]:
## Predict for the unknown student data
dtc.predict([[8]])

array(['Yes'], dtype=object)

In [ ]:
dtc.predict([[8],[7.5],[3.4]])

array(['Yes', 'Yes', 'No'], dtype=object)

### Labeled and unlabeled data
- labeled means along with placed column
- Unlabeled without placed column

In [ ]:
data1 = {"Student ID":[416,375,400,211,312,523],
        "Taken Internship":['Yes','No','Yes','No','Yes','Yes'],
         "Percentage":[80,55,65,70,60,75],
        "Communication":[7,6,5,8,9,5],
        "Placed":["Yes","No","No","Yes","Yes","Yes"]}
placement_data1  =  pd.DataFrame(data1)

In [ ]:
data3 = {"Student ID":[416,375,400,211],
         "Internal Marks":[25,30,18,15],
         "No of Hours Study":[2,1,2,3],
         "Marks":[76.5,87,59,53.5]}
marks_data2 = pd.DataFrame(data3)
marks_data2

   Student ID  Internal Marks  No of Hours Study  Marks
0         416              25                  2   76.5
1         375              30                  1   87.0
2         400              18                  2   59.0
3         211              15                  3   53.5

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
# training the model with two features
lr.fit(marks_data2.iloc[:,1:3],marks_data2['Marks'])
# After this cell in variable lr you have trained model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

### y=m1 x1 + m2 x2+c
predict m1,m2 and c
- y - marks
- x1 - internal marks
- x2 - no of hours study

In [ ]:
lr.coef_ ### m1 and m2

array([2.5, 2. ])

In [ ]:
lr.intercept_ # c

10.000000000000007

In [ ]:
lr.predict(marks_data2.iloc[:,1:3])

array([76.5, 87. , 59. , 53.5])

In [ ]:
marks_data2['Marks']

0    76.5
1    87.0
2    59.0
3    53.5
Name: Marks, dtype: float64

# Question 1:

https://www.codechef.com/problems/RECNDSTR

Chef has a string $S$ consisting of lowercase English characters. Chef defined functions left shift $L(X)$ and right shift $R(X)$ as follows.

$L(X)$ is defined as shifting all characters of string $X$ one step towards the left and moving the first character to the end.

$R(X)$ is defined as shifting all characters of string $X$ one step towards the right and moving the last character to the beginning.

For example, L("abcd") = "bcda" and R("abcd") = "dabc"

Chef wants to find out whether there exists a string $V$ of the same length as $S$ such that both $L(V) = S$ and $R(V) = S$ holds.

Input:

The first line of the input contains a single integer $T$ denoting the number of test cases. The description of $T$ test cases follows.

The first line of each test case contains a string $S$.

Output:

For each test case, If there exists a valid string $V$, print "YES", otherwise print "NO" (without the quotes).

Sample Input:

4

a

ab

abcd

aaaaa

Sample Output:

YES

YES

NO

YES

In [ ]:
def L(x):
    return x[1:]+x[0]
def R(x):
    return x[len(x)-1]+x[0:len(x)-1]
t=int(input())
list1=[input() for i in range(t)]
for i in list1:
    print("YES") if L(i) == R(i) else print("NO")

4
a
ab
abcd
aaaaa
YES
YES
NO
YES